@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

/* GENERAL */
body{
	margin: 0 0 0 0;
}

.default-font{
    font-family: "Josefin Sans";
    font-size: 22px;
}

.cream{
	color: #ffffda;
}

.offwhite{
	color: #fdfaf0;
}

/* MENU */
.menu{
	background-color: #252323;
	height: 100%;
	left: 0;
	margin: 0px;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 5%;
	z-index: 1;
}

/* TOP SECTION */
.top-part{
	background-color: #f9ccec;
	height: 300px;
	margin-left: 5%;
	padding-top: 70px;
	width: 95%;
	
}

.center{
	text-align: center;
}

.main-text{
	font-family: Pacifico;
	font-size: 70px;
	font-weight: 1;
	margin: 0px;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				  1px -1px 0 #000;
}

.secondary-text{
	font-size: 27px;
	margin: 0px;
	text-shadow: -.4px .4px 0 #000,
				  .4px .4px 0 #000,
				  .4px -.4px 0 #000,
				  -.4px -.4px 0 #000;
}

.logo{
	background-color: #ffffda;
	border-radius: 100%;
	border: solid 2px #f9ccec;
	display: inline-block;
	height: 100px;
	margin-top: 90px;
	width: 100px;

}

/* OVERVIEW SECTION */
.overview-part{
	margin: 0 0 0 5%;
	height: 300px;
	width: 95%;
}

.overview{
	float: left;
	padding: 20px;
	display: inline;
	width: 400px;
	height: 100%;
}

.overview.first{
	background-color: #42e1b0;
}

.overview.second{
	background-image: url(media/profile_image.JPG)
	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container
}



/* RESPONSIVENESS */
/*
@media (max-width: 800px) {

      .left-menu {
            width: 100%;
            height: 7%;
            position: fixed;
            bottom: 0;
       }

	  .table {
			display: table;  
			margin: 0 auto;
	   }

	   .menu {
	   	    min-width: 696px;
			list-style-type: none;
			padding-top: 0px;
			left: 20px;
			top: 2em;
	   }

	   .menu-item  {
			display: inline;
			margin-right: 40px;
	   }

} */