@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
	margin: 0 0 0 0;
}

.menu{
	background-color: #252323;
	height: 100%;
	left: 0;
	margin: 0px;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 5%;
	z-index: 1;
}

.top-part{
	background-color: #f9ccec;
	height: 300px;
	margin-left: 5%;
	padding-top: 70px;
	width: 95%;
	
}

.center{
	text-align: center;
}

.main-text{
	font-family: Pacifico;
	font-size: 50px;
}

.secondary-text{
	font-family: "Josefin Sans";
	font-size: 20px;
}


/* RESPONSIVENESS */
/*
@media (max-width: 800px) {

      .left-menu {
            width: 100%;
            height: 7%;
            position: fixed;
            bottom: 0;
       }

	  .table {
			display: table;  
			margin: 0 auto;
	   }

	   .menu {
	   	    min-width: 696px;
			list-style-type: none;
			padding-top: 0px;
			left: 20px;
			top: 2em;
	   }

	   .menu-item  {
			display: inline;
			margin-right: 40px;
	   }

} */