body{
	margin: 0 0 0 0;
}

/* LEFT SIDE BAR NAVIGATION */

 .left-menu {
    font-family: sans-serif;
    background-color: #231f20;
    padding: 5px;
    width: 50px;
    height: 100%;
    z-index: 1000;
    position: fixed;

}
.menu{
    list-style-type: none;
     margin: 0;
     position: absolute;
     top: 50%;
     left: -40%;
}

.menu-icon {
	height: 35px;
	margin-bottom: 10px;
}

/* sidebar responsiveness*/
@media (max-width: 800px) {

      .left-menu {
            background-color: yellow;
       }

}